.contenedora_central{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 141, 141);
    box-sizing: border-box; 
}

.para_ti{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    
    border-radius: 10px;
    border-bottom: 4px solid blue;
    width: 100%; 
    }


.top_10{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    background-color: rgb(150, 141, 141);
    border-radius: 10px;
    
    width: 100%; 
    
    } 

.flex-container {
    display: flex;
    justify-content: flex-end;
    
}
.footer {
    background-color: rgb(51, 51, 51);
    border: 4px solid blue;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: auto; /* Esto empuja el footer al final del contenedor */
    width: 100%;
    display: flex;
}


#contenedora_central{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 141, 141);
    box-sizing: border-box; 
}

#footer{
    background-color: rgb(150, 141, 141);
    position: relative;

}

/*Imagenes Biblioteca*/


:root {
    --background:  #F8F8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
}

.card {
 
    
    
    border-radius: 1.2rem;
   
    overflow: hidden;
   
  
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card img {
    .card img {
        width: 100px; /* Ajusta el ancho de la imagen */
        height: 100px; /* Ajusta la altura de la imagen para que sea cuadrada */
        object-fit: cover; /* Asegura que la imagen cubra el área cuadrada */
        border-radius: 5px; /* Opcional: redondea ligeramente las esquinas */
      }
}

/* polish images center */
.card:nth-child(1) img {
    left: -6rem;
}

.card:nth-child(2) img {
    left: -4rem;
}

.card:nth-child(3) img {
    left: -10;
}

.card:nth-child(4) img {
    left: -6rem;
}

.item-carousel{
    width: auto !important;

}
#trading h1{
    font-size: 1.2rem;
   justify-content: center;
    display: flex;
    border-bottom: 2px solid blue;
}

#titulos_juegos h3{
    font-size: 1rem;
    justify-content: center;
    display: flex;
    border-bottom: 2px solid blue;
}
#title{

    background-color: white;
    border-bottom: 28px solid grey;
    border-top: 28px solid grey;
}
#title h3{
    font-size: 1.2rem;
}
#centro{
   background-color: white;
   border-bottom: 0px solid rgb(255, 255, 255);
}
#center{
    background-color: white;
    border: 0px solid rgb(255, 255, 255);
}

/* ofertas */

#trading_oferta h1{
    font-size: 1.2rem;
   justify-content: center;
    display: flex;
    border-bottom: 2px solid orange;
}

#contenedora_central_ofertas {
    background: linear-gradient(rgb(129, 129, 132), rgb(219, 213, 214));
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background);
    box-sizing: border-box; /* Incluye el borde en el tamaño total */
    border-top: 4px solid orange;
}

#container_ofertas {
    display: flex;
    justify-content: center;
    border: 4px 4px 0 4px solid orange;
}

.row {
    padding: none;
}

#carrusel_ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(150, 141, 141);
    margin-top: 1rem;
    width: 100%; 
}

#todas_ofertas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    
}

#flex-container {
    display: flex;
    justify-content: flex-end;
}

#img_ofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    object-fit: cover; /* Ajuste de la imagen dentro del contenedor */
}



#etiqueta_oferta {
    position: absolute;
    top: 70%;
    left: 70%;
    z-index: 10;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#card_oferta {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#etiqueta_precio {
    display: flex;
    align-self: end; /* Alineación al final */
}

#etiqueta_oferta a {
    font-size: 1rem;
    color: white;
}

figcaption a {
    font-size: 1.35rem;
    color: orange;
}

#titulo_oferta {
    max-height: 0px;
}

#botones_oferta {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#boton_link_poster {
    margin: 10% 0 0 0;
}

.ui.grid+.grid {
    margin-top: 0;
}

#carrusel2 .swiper-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll; /* Permite el desplazamiento horizontal */
}

#carrusel2 .swiper-slide {
    flex: 0 0 auto; /* Evita que los elementos cambien de tamaño */
}

#titulo_juegos_ofertas {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

#titulo_juegos_ofertas h1 {
    background-color: rgb(182, 182, 182);
    max-width: 20%;
    padding: 0 4rem 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.3rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.753); /* Sombra */
}

.border-container_oferta {
    margin-bottom: 0px;
    position: relative;
    padding: 4% 0 0 0;
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.svg-border_oferta {
    margin-bottom: -2.4rem;
    width: 100%;
    height: 5rem; /* Ajusta la altura del contenedor SVG */
    display: flex;
    align-items: flex-end; /* Alinea la línea al final del contenedor */
    
}


.border-line_oferta {
    fill: none; /* Sin relleno */
    stroke: orange; /* Color de la línea */
    stroke-width: 0.5; /* Ajusta el espesor de la línea */
    stroke-linecap: round; /* Extremos redondeados */
}

#footer_ofertas {
    background-color: rgb(51, 51, 51);
    border: 4px solid orange;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: -1rem;
    padding: 1rem 0 1rem 0;
}


.col-12 {
    background-color: rgb(150, 141, 141);
    padding: 0%;
}

#trading_oferta {
    border-color: 4px 4px 4px 4px solid orange;
}

/* Fin Ofertas */

/* video fAVORITO */
#list-home-list{
    background-color: rgb(150, 141, 141);
}
#foother-favoritos{
    border:2px solid rgb(0, 123, 255) ;
}
#linea_favoritos{
    stroke: hsl(211, 100%, 50%);
}
