/* Ensure the HTML and body elements take full height */
html, body {
    height: 100%;
    margin: 0%;
}

/* Flex container that spans the full width and height of the viewport */
.contenedora_total {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 141, 141);
}
span {
    display: flex;
    align-items: flex-start; 
    background: linear-gradient(rgb(129, 129, 132), rgb(219, 213, 214)); 
}

.contenedor {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid blue;
    background: linear-gradient(rgb(129, 129, 132), rgb(219, 213, 214)); /* Fixed the gradient background */
}

.image img{
    height: 16vh;
}


.contenedor h1{
    font-size: 8vh;
}



#contenedor_ofertas {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid rgb(219, 29, 4);
}

#contenedor_juegos_free{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid orange;
}

#contenedor_juegos_pro{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid orangered;
}


#contenedor_nuevos {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid rgb(218, 47, 132);
}


#contenedor_mibiblioteca {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid  rgb(47, 172, 218);
}


#contenedor_index {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(129, 130, 134), rgb(219, 213, 214)); /* Fixed the gradient background */
    border-bottom: 4px solid  rgb(47, 172, 218);
}













